# =========================================
# Version Control & CI/CD
# =========================================
.git
.gitignore
.github/

# =========================================
# Docker-related files
# =========================================
.dockerignore
Dockerfile
base.Dockerfile

# =========================================
# Node.js generated folders and logs
# =========================================
node_modules
dist
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# =========================================
# Environment & Secrets
# =========================================
.env
.env.*
!/.env.example

# =========================================
# Project-specific files not needed in production
# =========================================
test/
mock-data.sql
README.md
# You use yarn.lock, so ignore the npm lockfile
package-lock.json

# =========================================
# Linting and Formatting (Dev tools)
# =========================================
.eslintrc.js
.prettierrc
.prettierignore

# =========================================
# IDE & OS specific files
# =========================================
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
Thumbs.db
.DS_Store